.header {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
    height: 10vh;
    background: var(--dark-blue);
}

.header__symbol {
    font-size: 1.8em;
    font-family: var(--head-font);
    color: var(--yellow);
}

.header__nav {
    padding: 0.7em 0;
    width: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
}


.header__nav--line {
    background: var(--yellow);
    height: 0.3em;
    border-radius: 20px;
}